---
// src/pages/index.astro
import AppRouter from '../AppRouter';
import '../styles/global.css'; 
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <title>Core NLP | PRO4CE </title>

    <meta name="theme-color" content="#0a1128" />
  </head>
  <body class="m-0 p-0 h-screen w-screen overflow-hidden text-slate-900 bg-[#f8f9f9]">
    <AppRouter client:only="react" />
  </body>
</html>