---
// Importamos o nosso novo Roteador
import AppRouter from '../components/app';
import '../styles/global.css'; // Mantenha se você tiver um arquivo de css global do tailwind
---

<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Core NLP - Console</title>
  </head>
  <body class="m-0 p-0 h-screen w-screen overflow-hidden text-slate-900 bg-[#f8f9f9]">
    <AppRouter client:only="react" />
  </body>
</html>